* {
    box-sizing: border-box;
  }

body {
    background-color: #292929;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}

/* homepage */

.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    opacity: 0.1;
}

.homepage-body {
    overflow: hidden;
}

.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem 2.2rem 0 2.2rem;
    font-size: 0.825rem;
    /* animation: fadeIn 2s ease-in-out forwards; */
}

.qlass-logo {
    width: 80px;
    margin-left: auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-left: 4rem;
}

.nav-bar a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 0.5rem;
    margin: 1.3rem;
    padding-left: 0.8rem;
    border-left: #fff 1px solid;
    white-space: nowrap;
    height:30px;
}

.nav-bar a:hover{
    font-weight: 800;
    border-left: #fff 5px solid;
    
} 

.qlass-title {
    font-size: 30rem;
    margin: 0;
    font-weight: 600;
    animation: fadeIn 2s ease-in-out forwards;
    margin-top: 4rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.qlass-desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin-top: -6.5rem;
    margin-left: 25rem;
    font-weight: 100;
    animation: fadeIn 2s ease-in-out forwards;
}

.get-started-btn {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    padding: 1rem 2rem;
    margin-top: 1.1rem;
    animation: fadeIn 2s ease-in-out forwards;
}

.footer-icon-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    gap: .5rem;
    margin-right: 2rem;
}

@media only screen and (min-width: 1200px) and (max-width:1880px){
    .nav-bar a {
        font-size: 1.2rem;
        margin: 0rem;
        padding-left: 0.8rem;
    }
    .qlass-title {
        font-size: 20rem;
    }

}

/* about-us page */

.about-us-body {
    background-color: #292929;
}

.about-us-container {

}

.about-us-qclass-linguistic-title {
    font-weight: 400;
    font-size: 2rem;
}

.about-us-paragraph {
    font-size: 1.5rem;
    font-weight: 100;
}

/* become-mentee page */

.main-section {
    display: flex;
    flex-direction: row;
}

.qlass-course {
    margin: 70px;
    text-align: left;
    color: #fff;
    line-height: 1.5;
    font-size: 1.45rem;
    display: flex;
    flex-direction: column;
}

.qlass-course .qlass-logo {
    width: 150px;
}

.qlass-course p {
    text-align: left;
    letter-spacing: .1rem;
    font-weight: lighter;
    margin: 1rem 0;
}

.qlass-course .course-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3.1rem;
    color: white;
    margin: 1rem 0;
}

.course-buttons {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin: 1.5rem 0;
}

.course-buttons a {
    margin-right: 2.5rem;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 0.8rem 0;
    border-radius: 100px;
    width: 150px;
}

.career-body {
    background-color: #211f1f;
}

.career-calling {
    font-size: 18rem;
    margin-bottom: 0;
    margin-top: 6rem;
}

.career-font {
    font-size: 3rem;
}

.career-paragraph {
    margin: 0 auto;
    /* border: 2px solid white; */
    font-size: 1.6rem;
    width: 70%;
    letter-spacing: .2rem;
    line-height: 1.5;
}

.apply-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    border-radius: 100px;
    padding: 1.2rem 5rem;
    margin-top: 1.1rem;
    background-color: #222;
}

.contact-body {
    background-color: #898989;
}

.contact-font {
    font-size: 2rem;
    
}

.contact-qlass {
    font-weight: 800;
    font-size: 19rem;
    margin-top: -8.2rem;
    margin-bottom: 5.6rem;
}

.contact-container {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    height: 50vh;
    /* border: #000 solid 2px; */
}


.user-email {
    border: 2px solid white;
    padding: 2rem 8rem;
    background-color: #ebeff2;
    color: #a6a6a6;
    text-align: left;
    font-size: 2.5rem;
    border-radius: 60px;
    font-weight: 300;
    transition: background-color 0.3s, border-color 0.3s;
}

.user-email:hover {
    background-color: #d9d9d9; /* Slightly darken the background on hover */
    border-color: #000; /* Change the border color on hover */
}


.user-email input {
    width: 93%;
    padding: 1.8rem;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
}

#email::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #d9d9d9;
    font-size: 1.5rem;
}

.save-btn {
    width: 100%;
    padding: 1.5rem 6rem;
    border-radius: 50px;
    background-color: #000;
    border: none;
    color: #ebeff2;
    font-size: 1.5rem;
    cursor: pointer;
}

.social-container {
    width: 800px;
    text-align: left;
    letter-spacing: .2rem;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.4rem;
}

/* media query */

@media(max-width: 1880px ){
    /* .qlass-title {
        font-size: 32rem;
    } */
    
    .main-section {
        display: flex;
        height: 80vh;
        margin: 0 2.5rem;
    }
    
    .qlass-course {
        font-size: 1.2rem;
    }

    .course-title {
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        color: #545454;
        font-size: 3.1rem;
    }
    
    .course-buttons a {
        font-size: 1.2rem;
    
    }
}

/* utility */

.nunito {
    font-family: 'Nunito', sans-serif;
}

.white {
    color: wheat;
}